<div class="product-card">
  <div *ngIf="product?.sale" class="sale-badge">-{{ product?.sale }}%</div>
  <div class="img-container" (click)="navigateToProduct(product?.id)">
    <img [src]="product?.imageURL" alt="" />
  </div>
  <p class="product-title" (click)="navigateToProduct(product?.id)">
    {{ product?.name | truncatePipe : 23 }}
  </p>
  <p class="product-description">
    {{ product?.description | truncatePipe : 58 }}
  </p>
  <div class="tags my-2">
    <span>{{ product?.category }}</span
    ><span>{{ product?.type }}</span>
  </div>
  <div class="d-flex align-items-center py-2">
    <p class="product-price me-2" *ngIf="product?.sale">
      {{
        (product?.price || 0) -
          ((product?.price || 0) * (product?.sale || 0)) / 100 | currency
      }}
    </p>
    <p class="product-price" [ngClass]="{ 'old-price': product?.sale }">
      {{ product?.price | currency }}
    </p>
  </div>
  <div *ngIf="showButtons" class="d-flex gap-1">
    <button
      class="add-to-cart-btn btn w-100"
      [ngClass]="{
        'added-to-cart': product?.isAddedToCart || isAddedToCart
      }"
      (click)="addToCart(product?.id)"
      [disabled]="product?.isAddedToCart || isAddedToCart"
    >
      <i
        class="bi me-1"
        [ngClass]="{
          'bi-cart-plus':
            product?.isAddedToCart == false && isAddedToCart == false,
          'bi-cart-check':
            product?.isAddedToCart == true || isAddedToCart == true
        }"
      ></i>
      @if ( product?.isAddedToCart == true || isAddedToCart == true ) { Added To
      Cart }@else{Add To Cart}
    </button>
    <button class="like-btn btn">
      <i class="bi bi-heart"></i>
    </button>
  </div>
</div>
