<div class="container">
  <div class="page-controller d-flex justify-content-center gap-1">
    <div class="d-flex gap-2 align-items-center">
      <button
        (click)="decreasePageNum()"
        [disabled]="isPrevDisabled()"
        class="page-btn fw-bold"
      >
        <i class="bi bi-chevron-double-left"></i>
      </button>

      @for (item of pagesList; track $index) {
      <div
        class="page-btn page-num-btn"
        [ngClass]="{
          'current-page-btn': item == currentPageNum,
          '': item != currentPageNum
        }"
        (click)="changePage(item)"
      >
        {{ item }}
      </div>
      }
      <button
        (click)="increasePageNum()"
        [disabled]="isNextDisabled()"
        class="page-btn fw-bold"
      >
        <i class="bi bi-chevron-double-right"></i>
      </button>
    </div>
  </div>
</div>
