<div class="container-fluid">
  <app-nav-bar></app-nav-bar>

  <!-- -------- content ---------- -->
  <div class="outlet-container">
    <router-outlet></router-outlet>
  </div>

  <!-- ----------footer----------- -->

  <div
    class="container-fluid footer d-flex justify-content-center align-items-center"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div
            class="links justify-content-center justify-content-lg-start align-items-center d-flex flex-column flex-lg-row gap-3 mb-3"
          >
            <a href="#">About us</a>
            <a href="#">Menu</a>
            <a href="#">Gallery</a>
            <a href="#">Help</a>
            <a href="#">Contact</a>
          </div>
          <p class="mb-4 mb-lg-0 text-center text-lg-start">
            © Copyright 2024 Mostafa Ali - All Rights Reserved
          </p>
        </div>
        <div
          class="social-links col-sm-12 col-lg-6 d-flex gap-3 justify-content-center justify-content-lg-end align-items-center"
        >
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- ------ end footer -------  -->
  <footer></footer>
</div>
