<div class="container-fluid">
  <app-nav-bar></app-nav-bar>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <!-- -------- content ---------- -->
  <router-outlet></router-outlet>

  <!-- ----------footer----------- -->

  <div
    class="container-fluid footer d-flex justify-content-center align-items-center"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div
            class="links justify-content-center justify-content-lg-start align-items-center d-flex flex-column flex-lg-row gap-3 mb-3"
          >
            <a href="#">About us</a>
            <a href="#">Menu</a>
            <a href="#">Gallery</a>
            <a href="#">Help</a>
            <a href="#">Contact</a>
          </div>
          <p class="mb-4 mb-lg-0 text-center text-lg-start">
            © Copyright 2024 Mostafa Ali - All Rights Reserved
          </p>
        </div>
        <div
          class="social-links col-sm-12 col-lg-6 d-flex gap-3 justify-content-center justify-content-lg-end align-items-center"
        >
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- ------ end footer -------  -->
  <footer></footer>
</div>
