<div class="pt-5">
  <div class="container bg-light w-50">
    <div class="d-flex align-items-center">
      <div class="search">
        <input
          type="text"
          class="search-input"
          placeholder="Search..."
          name=""
          [(ngModel)]="searchWord"
          (keydown.enter)="callBack(searchWord)"
          (input)="callBack(searchWord)"
        />
        <button href="#" class="search-icon btn" (click)="callBack(searchWord)">
          <i class="bi bi-search fs-6"></i>
        </button>
      </div>
    </div>
  </div>
</div>
