ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  padding: 0;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 6px 8px;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}
i {
  margin-right: 6px;
}

.active {
  background-color: rgb(227, 227, 227);
  font-weight: 500;
}

:host {
  border-right: 1px solid gray;
}
