.main-container {
  min-height: 100vh;
  padding-top: 30px;
}
.product-card {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 14px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 3px 2px rgba(188, 188, 188, 0.134);
  border: 1px solid rgb(226, 226, 226);
}

.img-container {
  width: 100%;
  height: 400px;
  /* padding: 32px; */
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 20px;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  /* width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; */
}

.product-title {
  font-weight: bold;
  max-lines: 2;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.product-description {
  color: var(--text-dark-gray);
  font-size: 1.1rem;
  line-height: 1.4;
}

.product-price {
  font-weight: 500;
  font-size: 1.9rem;
}
.buy-now-btn {
  border: 2px solid var(--primary-color);
  font-weight: bold;
  color: var(--primary-color);
}
.add-to-cart-btn {
  background-color: var(--primary-color);
  font-weight: bold;
  color: white;
}

.added-to-cart {
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  color: white;
}
.like-btn {
  background-color: rgb(243, 243, 243);
  font-weight: bold;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(228, 228, 228);
}
.old-price {
  text-decoration: line-through;
  color: rgb(152, 152, 152);
  font-size: 1.1rem;
  font-weight: 300;
}

p {
  margin: 0;
}

.tags {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 6px;
  text-transform: capitalize;
}
.tags span {
  padding: 2px 6px;
  font-size: 14px;
  border-radius: 6px;
  background-color: rgb(222, 222, 222);
}
.tags span:first-child {
  background-color: rgb(141, 141, 141);
  color: white;
}

.bi-cart-plus {
  font-size: 18px;
}

.bi-heart {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-badge {
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  color: green;
}
.in-stock,
.out-of-stock {
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
}
.in-stock {
  color: green;
  background-color: #d1e7dd;
}

.out-of-stock {
  color: red;
  background-color: #f8d7da;
}

.products-section {
  /* background-color: rgb(250, 250, 250); */
  padding: 0 0 40px;
  width: 100%;
}

#products-container {
  padding: 20px 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 20px;
}
td {
  padding: 3px;
}
