<app-slider></app-slider>
<div class="products-section">
  <div class="container p-0">
    <div class="mt-4" id="products-container">
      @for (product of products; track $index) {
      <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </div>
</div>

<div class="container">
  <div class="page-controller d-flex justify-content-end">
    <div>
      Page
      <button
        (click)="decreasePageNum()"
        [disabled]="isPrevDisabled()"
        class="page-change-btn"
      >
        &lt;
      </button>
      <input
        class="current-page-input no-arrows"
        type="number"
        [(ngModel)]="currentPageNum"
        (change)="changePage()"
        [max]="totalPages"
        min="1"
      />
      <button
        (click)="increasePageNum()"
        [disabled]="isNextDisabled()"
        class="page-change-btn"
      >
        >
      </button>

      of {{ totalPages }}
    </div>
  </div>
</div>
