.products-section {
  background-color: rgb(250, 250, 250);
  padding: 0;
  width: 100%;
}

#products-container {
  padding: 60px 10px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 20px;
}

.page-btn {
  padding: 6px;
  border-radius: 6px;
  border: none;
  background-color: rgb(237, 237, 237);
  min-width: 38px;
  text-align: center;
  cursor: pointer;
}
.current-page-btn {
  background-color: var(--primary-color);
  background-color: rgb(86, 86, 86);
  color: white;
}

.page-controller {
  width: 100%;
  background-color: white;
  padding: 20px 0;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-box {
  min-height: 400px;
  font-size: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}

.search-error-box {
  min-height: 400px;
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*////////////////////////////////////////////////////////////*/
