<!-- --slider --  -->

<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/images/slider/2.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/images/slider/1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/images/slider/3.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="products-section">
  <div class="container p-0">
    <div class="mt-4" id="products-container">
      @for (product of products; track $index) {
      <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </div>
</div>

<div class="container">
  <div class="page-controller d-flex justify-content-end">
    <div>
      Page
      <button
        (click)="decreasePageNum()"
        [disabled]="isPrevDisabled()"
        class="page-change-btn"
      >
        &lt;
      </button>
      <input
        class="current-page-input no-arrows"
        type="number"
        [(ngModel)]="currentPageNum"
        (change)="changePage()"
        [max]="totalPages"
        min="1"
      />
      <button
        (click)="increasePageNum()"
        [disabled]="isNextDisabled()"
        class="page-change-btn"
      >
        >
      </button>

      of {{ totalPages }}
    </div>
  </div>
</div>
