:root {
  --primary-color: rgb(246, 100, 3);
  --primary-color-disabled: rgb(243, 146, 67);
  --text-dark-gray: rgb(134, 134, 134);
  --input-border-color: rgba(37, 37, 37, 0.558);
  --input-placeholder-color: rgb(182, 182, 182);
}
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.error-box {
  min-height: 20px;
}

.input-error {
  border: 1px solid red !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border: 2px solid var(--input-border-color);
}

.form-control,
.form-select {
  border: 1px solid rgb(201, 201, 201);
}

input::placeholder,
textarea::placeholder {
  color: --var(--input-placeholder-color);
}

textarea {
  resize: none;
}
.row-controller {
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
